<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.l0neman.pluginlib">

    <application>
        <service
            android:name=".test.TestService"
            android:enabled="true"
            android:exported="false"></service>

        <provider
            android:name=".support.server.ServiceManagerProvider"
            android:authorities="io.l0neman.pluginlib.smprovider"
            android:exported="false" />

        <activity android:name=".placeholder.ActivityPlaceholders$Activity0" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity1" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity2" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity3" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity4" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity5" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity6" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity7" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity8" />
        <activity android:name=".placeholder.ActivityPlaceholders$Activity9" />

        <service android:name=".placeholder.ServicePlaceholders$Service0" />
        <service android:name=".placeholder.ServicePlaceholders$Service1" />
        <service android:name=".placeholder.ServicePlaceholders$Service2" />
        <service android:name=".placeholder.ServicePlaceholders$Service3" />
        <service android:name=".placeholder.ServicePlaceholders$Service4" />
        <service android:name=".placeholder.ServicePlaceholders$Service5" />
        <service android:name=".placeholder.ServicePlaceholders$Service6" />
        <service android:name=".placeholder.ServicePlaceholders$Service7" />
        <service android:name=".placeholder.ServicePlaceholders$Service8" />
        <service android:name=".placeholder.ServicePlaceholders$Service9" />
    </application>

</manifest>