<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.l0neman.pluginlib">

    <application>
        <activity android:name=".placeholder.ActivityPlaceholders$Activity0" />

        <provider
            android:exported="false"
            android:authorities="io.l0neman.pluginlib.smprovider"
            android:name=".support.server.ServiceManagerProvider"/>
    </application>
</manifest>
